.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .carousel {
        margin-top: 15vh;
        display: block;
        width: 100%;
    }

    .newsfeeds {
        display: flex;
        justify-content: center;
        margin-top: 9vh;
        max-width: 85%;

        app-newsfeed {
            padding: 15px;
        }

        .latest {
            display: block;
            flex-grow: 4;
        }
    }
    
}