@import '../../../assets/styles/colors.scss';

.navbar-container {
    display: flex;
    justify-content: flex-end;

    filter: drop-shadow(5px 3px 7px black);

    .navbar-shape {
        width: 0;
        height: 0;
        border-top: 35px solid $secondary;
        border-left: 45px solid transparent;
    }

    .navbar {
        color: $primary;
        min-height: 35px;
        background-color: $secondary;
        width: 35%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .item {
            transition: color 0.3s, transform 0.3s;

            &:hover {
                color: black;
                transform: scale(1.02)
            }
        }
    }
}