<div class="newsfeed-container">
    <div class="title headline">
        NEWS
        <div class="separators">
            <div class="separator first">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
            <div class="separator second">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
            <div class="separator third">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
        </div>
    </div>

    <div class="content">
        Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something 
    </div>
</div>