@import '../../../assets/styles/colors.scss';

.newsfeed-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        width: 100%;
        color: $secondary;
        font-size: 40px;
        filter: drop-shadow(3px 2px 4px black);

        &.sub {
            font-size: 35px;
            line-height: 40px;
            opacity: .75;

            .separators {
                margin-top: 5px;

                .separator {
                    &.second {
                        width: 94%;
                    }
                }
                
            }
        }

        .separators {
            display: flex;
            flex-direction: column;
            align-items: center;

            .separator {
                display: flex;

                &.first {
                    height: 6px;
                    width: 100%;

                    .line {
                        background-color: $secondary;
                        flex-grow: 1;
                    }

                    .left-decoration {
                        width: 0;
                        height: 0;
                        border-top: 6px solid $secondary;
                        border-left: 8px solid transparent;
                    }

                    .right-decoration {
                        width: 0;
                        height: 0;
                        border-top: 6px solid $secondary;
                        border-right: 8px solid transparent;
                    }
                }

                &.second {
                    margin-top: 6px;
                    height: 4px;
                    width: 97%;
                    opacity: 50%;

                    .line {
                        background-color: $secondary;
                        flex-grow: 1;
                    }

                    .left-decoration {
                        width: 0;
                        height: 0;
                        border-top: 4px solid $secondary;
                        border-left: 5px solid transparent;
                    }

                    .right-decoration {
                        width: 0;
                        height: 0;
                        border-top: 4px solid $secondary;
                        border-right: 5px solid transparent;
                    }
                }

                &.third {
                    margin-top: 5px;
                    height: 3px;
                    width: 94.5%;
                    opacity: 25%;

                    .line {
                        background-color: $secondary;
                        flex-grow: 1;
                    }

                    .left-decoration {
                        width: 0;
                        height: 0;
                        border-top: 3px solid $secondary;
                        border-left: 4px solid transparent;
                    }

                    .right-decoration {
                        width: 0;
                        height: 0;
                        border-top: 3px solid $secondary;
                        border-right: 4px solid transparent;
                    }
                }
            }
        }
    }

    .content {
        margin-top: 1vh;
        max-width: 94%;

        .post {
            display: flex;

            .thumbnail {
                img {
                    max-width: 100%;
                    border: 1px solid $white;
                }
            }

            .content {
                padding-left: 15px;
                margin-top: 0px;

                .body {
                    p {
                        margin-top: .25em;
                    }
                }
            }
        }

        .header {
            font-size: 35px;

            &.headline {
                a {
                    color: inherit;
                    text-decoration: inherit;
                    transition: color 0.3s;

                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }

        .post-image {
            max-height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            border: 1px solid $white;
        }

        .tagline {
            font-size: 14px;
            font-style: italic;
            opacity: 75%;
        }

        .body {
            font-size: 18px;
        }
    }
}