<div class="newsfeed-container">
    <div class="title headline" [ngClass]="{ 'sub': !isMain }">
        {{ title.toUpperCase() }}
        <div class="separators">
            <div class="separator first">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
            <div class="separator second">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
            <div *ngIf="isMain" class="separator third">
                <div class="left-decoration"></div>
                <div class="line"></div>
                <div class="right-decoration"></div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="post" *ngFor="let post of posts">
            <div class="thumbnail">
                <img [src]="post.headerImageUrl" />
            </div>
            <div class="content">
                <div class="header headline">
                    <a [routerLink]="'post/' + post.slug">{{ post.title }}</a>
                    <div class="tagline">
                        <c-icon name="cil-clock" size="sm"></c-icon> {{ post.datePosted }}
                    </div>
                </div>
                <div *ngIf="showSummary" class="body">
                    <p>{{ post.bodyText | truncate:[300]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>