@import '../../../assets/styles/colors.scss';

.carousel-container {
    .content {
        max-width: 75%;
        max-height: 30vh;
        overflow: hidden;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background: -moz-linear-gradient(left, rgba(50, 64, 89, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(50, 64, 89, 1) 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50, 64, 89, 1)), color-stop(49%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(50, 64, 89, 1)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(50, 64, 89, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(50, 64, 89, 1) 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(50, 64, 89, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(50, 64, 89, 1) 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(50, 64, 89, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(50, 64, 89, 1) 100%);
            /* IE10+ */
            background: linear-gradient(to right, rgba(50, 64, 89, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(50, 64, 89, 1) 100%);
        }

        .item {
            display: flex;
            align-items: center;
            width: 100%;

            div {
                height: max-content;
            }

            img {
                width: 100%;
            }
        }
    }

    .border-container {
        display: flex;
        filter: drop-shadow(3px -2px 4px black);

        .border-decoration {
            width: 0;
            height: 0;
            border-bottom: 10px solid $secondary;
            border-right: 13px solid transparent;
        }
        .border {
            width: 77%;
            height: 10px;
            background-color: $secondary;
        }

        &.bottom {
            transform: rotate(180deg);
        }
    }
}