<div class="carousel-container">
    <div class="border-container">
        <div class="border"></div>
        <div class="border-decoration top"></div>
    </div>
    <div class="content">
        <carousel 
            [height]="250" 
            [cellWidth]="'100%'" 
            [autoplay]="true" 
            [loop]="true" 
            [arrows]="false" 
            [dots]="true" 
            [images]="images" 
            [lightDOM]="true"
            [overflowCellsLimit]="1"
            [autoplayInterval]="15000"
            [transitionDuration]="400"
            (events)="handleCarouselEvents($event)">
        </carousel>
    </div>
    <div class="border-container bottom">
        <div class="border"></div>
        <div class="border-decoration"></div>
    </div>
</div>