@import '../src/assets/styles/colors.scss';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-color: $primary;
    font-family: 'regular', sans-serif;
    font-size: 20px;
    color: $white;
}

.headline {
    font-family: 'headline', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}

@font-face {
    font-family: 'headline';
    src: url('../src/assets/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: 'regular';
    src: url('../src/assets/fonts/ModernSans-Light.otf') format('opentype')
}