.footer-container {
    display: flex;
    justify-content: center;

    .content {
        width: 65%;

        .items {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;

            .item {
                margin-right: 25px;
                font-size: 16px;
            }
        }
    }
}